.topBar {
  display: flex;
  padding: 0.5rem;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  align-items: center;
  background-color: #f5f5dc;
  color: black;
}

.topBar button {
  padding: 0.4rem 0.8rem;
  background-color: #0d47a1;
}

.topBar h1 {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.lastItem {
  margin-left: auto;
  height: 100%;
  margin-right: 0.5rem;
}

.lastItem img {
  width: 100%;
  height: 100%;
  display: block;
}
